#about {
	padding: 15px;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.55rem;
}

#about h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	margin-top: 20px;
	color: #333333;
}

#about p {
	margin-top: 15px;
}

#leadership {
	padding: 15px;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.55rem;
	margin-top: 20px;
}

#leadership h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	margin-top: 20px;
	color: #333333;
}

#leadership p {
	margin-top: 15px;
}

#contact {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 70px 15px;
	border-radius: 5px;
	background: #f2f2f2;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.55rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#contact #envelope-icon {
	font-size: 6rem;
	color: #4d4d4d;
}

#contact h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	margin-top: 5px;
	color: #4d4d4d;
}

#contact #email-btn {
	display: block;
	width: 80%;
	max-width: 300px;
	height: 40px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #0066b2;
	color: #2D2F3D;
	color: white;
}

#contact #email-btn a {
	color: inherit;
	text-orientation: none;
}

#contact #email-btn a:hover {
	color: red;
	text-decoration: none;
}

#contact #email-btn:hover {
	text-decoration: none;
	background: #00497f;
}

#contact #contact-btn {
	display: block;
	width: 80%;
	max-width: 300px;
	height: 40px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #0066b2;
	color: #2D2F3D;
	margin-top: 10px;
	background: #F1CA41;
}

#contact #contact-btn a {
	color: inherit;
	text-orientation: none;
}

#contact #contact-btn a:hover {
	color: red;
	text-decoration: none;
}

#contact #contact-btn:hover {
	text-decoration: none;
	background: #eebd11;
}

@media screen and (min-width: 768px) {
	#contact {
		padding: auto 40px;
	}
}